.starfinder-qol-full-damage-button,
.starfinder-qol-half-damage-button,
.starfinder-qol-double-damage-button,
.starfinder-qol-full-healing-button
 {
	width: 22px;
	height:22px;
	font-size:10px;
	line-height:1px
}

.starfinder-qol-flex-container {
	display: flex;
	align-items: center;
	flex-flow: row;
	padding: 3px;
}

.starfinder-qol-target-name:hover {
	text-shadow: 0 0 4px red;
}
.starfinder-qol-gmonly {
	display: none;
}
